<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="User" value=""/>
    <add key="Password" value=""/>
    <add key="FileSystem" value="\\sc04312\Gestion_Documental" />
    <add key="SiteURL" value="https://gesdoc1.aena.es/" />
    <add key="ListaDocumental" value="" />
    <add key="PuntoDocumental" value="" />
    <add key="Expediente" value="" />
  </appSettings>
</configuration>