<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="User" value="aena\jheperez"/>
    <add key="Password" value="Desoxirribo006"/>
    <!--<add key="FileSystem" value="\\sc04312\Gestion_Documental" />-->
    <add key="SiteURL" value="https://gesdocdes.aena.es/SCENTRAL/" />
    <add key="ListaDocumental" value="" />
    <add key="PuntoDocumental" value="" />
    <add key="Expediente" value="" />
  </appSettings>
</configuration>